.section__hero {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: MidnightBlue;
  opacity: 0.3;
}
.hero__wrapper {
  position: relative;
  padding: 5rem 0 30rem 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__content {
  position: relative;
  padding: 20px;
  max-width: 800px;
}

.hero__content .h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .hero__content .h1 {
    font-size: 3rem;
  }
}
