* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  background: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 20px;
  color: #000000;
  line-height: 1.25;
}

figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.button-all {
  position: relative;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  margin: 0 0.5em 0.5em 0;
  padding: 10px 10px 10px 55px;
  font-weight: 900;
  border-radius: 28px;
  border: 2px solid transparent;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  font-size: 16px;
}
.button-all:before {
  position: absolute;
  left: 0;
  top: calc(50% - 22.5px);
  display: block;
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #005386;
  color: #005386;
  background-color: white;
  background-image: url("https://www.discovered.ae/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBL05CTWc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--875724e640a61840a8383c0a8b1da351e8c11f76/arrow%20secondary.svg");
  background-size: 18px 18px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.button-all:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  height: 100%;
  width: 0;
  background: white;
  border-radius: 28px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button-all:hover {
  padding: 10px 50px 10px 20px;
  color: #000;
  text-decoration: none;
}
.button-all:hover:before {
  left: calc(100% - 50px);
  border-color: transparent;
  background-image: url("https://www.discovered.ae/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBL05CTWc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--875724e640a61840a8383c0a8b1da351e8c11f76/arrow%20secondary.svg");
}
.button-all:hover:after {
  width: 100%;
  opacity: 1;
}

.btn-secondary {
  background-color: #005386;
  border: none;
  color: white;
  padding: 10px 30px 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-secondary:hover {
  background-color: white;
  color: #005386;
}
.section-wrapper,
footer {
  position: relative;
  background-color: white;
}
.section__1 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.section__2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.section__3 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.emotion {
  grid-column: 1;
  grid-row: 1;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  background: url("https://www.3ds.com/assets/invest/2023-08/about-what-is-dassault-systemes-banner.jpg");
  background-color: #f4f6f8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.section__2 .wrap {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.section__2 .text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  mix-blend-mode: difference;
  align-items: center;
  z-index: 2;
}
.emotion .text h3 {
  color: white;
  max-width: 1000px;
  text-align: center;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

.emotion .video-iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 1920 / 1080;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  overflow: hidden;
}

//video modal styles
.video-modal .video-modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.video-modal {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  transform: unset;
  -webkit-transform: unset;
  z-index: 9991;
}
.video-modal .close-video-modal {
  background-color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 5%;
  top: 5%;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: solid 2px #fff;
  padding: 0;
  z-index: 20;
  transition: all 0.3s ease-in-out;
  transform: rotate(180deg);
}

#video-handler_modal.launched {
  opacity: 1;
  visibility: visible;
}
.video-modal.launched video,
.video-modal.launched iframe {
  position: relative;
  width: 90vh;
  height: 50vh;
  max-width: 100%;
}
.video-modal.launched .video-modal-container {
  background: #1f1d1d;
}
.video-modal.launched .video-modal-container {
  transform: scale(1);
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.16);
}
.video-modal.launched .close-video-modal {
  transform: rotate(0deg);
}

@keyframes show {
  0% {
    transform: translateY(100rem);
  }
  100% {
    transform: translateY(0);
  }
}

.promo-popup {
  padding: 10px;
  background: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100rem);
  z-index: 9999;
}

.promo-popup.visible {
  animation: show 1.5s ease forwards;
}

.promo__card {
  position: relative;
  background: #3a3f42;
  border-radius: 1rem;
  padding: 50px 30px 20px 30px;
  gap: 40px;
  max-width: 1200px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  grid-column-gap: 0rem;
  grid-row-gap: 3rem;
  border-radius: 2.5rem;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: start;
  place-items: flex-end start;
  margin-top: 0;
  display: grid;
}

.promo__content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
}
.promo__content p {
  color: white;
}
.promo__visual {
  position: relative;
  align-items: flex-end;
  width: 90%;
  max-width: 600px;
  display: flex;
  position: absolute;
  left: 0;
  overflow: hidden;
  grid-area: 1 / 2 / 3 / 3;
}
.canvas-wrapper {
  background-image: none;
  background-repeat: repeat;
  background-size: auto;
  width: 100%;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100%;
}
canvas#threeCanvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}
.promo__close-btn {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 2;
}
/* fallback image */
.fallback-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

@media (min-width: 1025px) {
  .container {
    width: 85% !important;
  }
}
@media (max-width: 768px) {
  .promo__card {
    text-align: center;
    padding: 20px;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .promo__content,
  .promo__visual {
    width: 100%;
    height: auto;
  }
  .promo__content {
    grid-area: 2/1;
  }
  .promo__content h2 {
    font-size: 2rem;
  }
  .promo__visual {
    grid-area: 1 / 2 / 1 / 1;
  }
  canvas#threeCanvas {
    display: none;
  }
  .fallback-img {
    display: block;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;

    left: 50%;
    transform: translateX(-50%);
  }
  .canvas-wrapper {
    padding-top: 75%;
  }

  .section__2 .text {
    padding: 2rem 1rem;
  }
}
@media (max-width: 575px) {
  .emotion .text h3 {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
}
