.x-timeline-item {
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
  position: relative;
  padding-top: 3rem;
}

.x-timeline-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.x-timeline-item:last-of-type {
  margin-bottom: 0;
}

.x-timeline-item_marker {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.x-timeline-item_marker-inner {
  background:#005386;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: relative;
  z-index: 1;
  border: 0px solid;
}

.x-timeline-item_marker::before {
  position: absolute;
  top: 0;
  bottom: -100px;
  width: 3px;
  content: "";
  background: #eee;
}

.x-timeline-item:first-of-type .x-timeline-item_marker::before {
  top: 50%;
}

.x-timeline-item:last-of-type .x-timeline-item_marker::before {
  bottom: 50%;
}

.x-timeline_alt-odd .x-timeline-item:nth-of-type(2n-1) {
  flex-direction: row-reverse;
}

.x-timeline_alt-even .x-timeline-item:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.x-timeline-item_content {
  flex-basis: 50%;
  min-width: 25%;
}

@keyframes SlideUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}
.x-timeline-item_content-inner {
  padding: 30px;
  border: 1px solid #005386;
  background-color: #fff;
  border-radius: 10px;
}

.x-timeline-item_content-inner:hover {
  animation: SlideUp 0.5s ease forwards;
}
.x-timeline-item_meta {
  flex-basis: 50%;
}
.x-timeline_line {
  position: absolute;
  width: 3px;
  top: 0;
  bottom: 0;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}

.x-timeline_line-active {
  position: absolute;
  width: 100%;
  top: 0;
  height: 0;
  background: #005386;
  will-change: height;
}

.x-timeline-item_marker-inner.x-timeline-item_marker-inner-active {
  background: #005386;
}

.x-timeline {
  width: 100%;
}

@media (max-width: 575px) {
  .x-timeline-item {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
  }
  .x-timeline-item_content {
    flex-basis: 85%;
  }
}